<!doctype html>
<head>
    <title>huehuehue</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> 
    <style type="text/css" media="all">
        img {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>huehuehue</h1>
        <img src="../../static/huehuehue.jpg" class="img-rounded img-responsive">
        <form action="/" method="post" role="form" class="form-inline">
            {% if not ip and not user %}
            <p>Enter in your bridge ip and the user.</p>

                <input type="text" name="ip" class="form-control" placeholder="bridge ip"/>
                <input type="text" name="user" class="form-control" placeholder="user"/>
            {% else %}

                <input type="text" name="ip" class="form-control" value="{{ ip }}"/>
                <input type="text" name="user" class="form-control" value="{{ user }}"/>
            {% endif %}
            <input type="submit" name="off" class="btn btn-default" value="off" />
            <input type="submit" name="on" class="btn btn-default" value="on" />
            <input type="submit" name="loop" class="btn btn-default" value="colorloop" />
        </form>
    </div>
</body>
