<!doctype html>
<head>
    <title>huehuehue</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> 
    <style type="text/css" media="all">
        img {
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>huehuehue</h1>
        <img src="../../static/huehuehue.jpg" class="img-rounded img-responsive">
        <form action="/" method="post" role="form">
            <input type="submit" name="off" class="btn btn-default" value="turn this shit off" />
            <input type="submit" name="on" class="btn btn-default" value="turn this shit on" />
        </form>
    </div>
</body>
